<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="postContent" class="muli">
      {{ postContent.title }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>{{ postContent.body }}</p>
</ion-content>
