<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Projets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="donation">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Soutenir</ion-label>
    </ion-tab-button>

    <ion-tab-button> </ion-tab-button>

    <ion-tab-button (click)="presentMap()">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chatbot">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Frigloo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="goHome()">
  <ion-fab-button>
    <ion-icon class="logo-fab" src="assets/logo.svg"></ion-icon>
  </ion-fab-button>
</ion-fab>
