<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="muli">
      les frigos solidaires
    </ion-title>
    <ion-buttons slot="primary" color="primary">
      <ion-button (click)="dismissMap()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map_canvas"></div>
</ion-content>
