<ion-content [fullscreen]="true">
  <div class="header">
    <ion-button
      fill="clear"
      size="small"
      color="light"
      onclick="window.open('https:\/\/www.facebook.com/LesFrigosSolidaires/', '_system', 'location=yes'); return false;"
    >
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button
      fill="clear"
      size="small"
      color="light"
      onclick="window.open('https:\/\/www.instagram.com/lesfrigossolidaires/?hl=fr', '_system', 'location=yes'); return false;"
    >
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-button>
    <img
      src="assets/logo.svg"
      onclick="window.open('https:\/\/www.identites-mutuelle.com/lesfrigossolidaires', '_system', 'location=yes'); return false;"
    />
    <ion-button
      fill="clear"
      size="small"
      color="light"
      onclick="window.open('https:\/\/twitter.com/hashtag/lesfrigossolidaires', '_system', 'location=yes'); return false;"
    >
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="light">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="chats">
    <div class="chatbox">
      <div *ngFor="let chat of chats">
        <div class="message sent" *ngIf="chat.type!=='bot' && chat.isMe">
          {{chat.message}}
        </div>
        <div class="message received" *ngIf="chat.type =='bot' && !chat.isMe">
          {{chat.message}}
        </div>
      </div>
    </div>
  </div>
  <ion-footer class="input_box">
    <div class="flex-items" padding>
      <ion-input
        [(ngModel)]="message"
        name="message"
        class="input_message"
        placeholder="Je voudrais savoir..."
      ></ion-input>
      <ion-icon (click)="sendMessage()" class="send" name="send"></ion-icon>
    </div>
  </ion-footer>
</ion-content>
