ion-content ion-toolbar {
  --background: translucent;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--ion-color-primary);
  border-radius: 0px 0px 50px 50px;
  height: 50px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 30px;
  align-items: center;

  img {
    width: 100%;
    max-height: 50px;
  }
}

.flex-items {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.icon {
  font-size: 50px;
  opacity: 0.5;
  padding-left: 40px;
  align-self: center;
}
.send {
  color: var(--ion-color-primary);
  font-size: 30px;
  margin-left: 10px;
}
.input_box {
  padding: 0px 20px;
}

.input_message {
  border: 1px solid var(--ion-color-primary);
  border-radius: 15px;
}
.messages {
  height: 100%;
  position: relative;
}
.footer {
  position: fixed;
  bottom: 5%;
}
.chats {
  height: 90%;
  padding-top: 50px;
  position: relative;
  z-index: 0;
}
.chats .chatbox {
  height: 100%;
  overflow-x: hidden;
  padding: 0 16px;
  padding-bottom: 30px;
}
.joined {
  clear: both;
  line-height: 18px;
  font-size: 15px;
  margin: 8px 0;
  padding: 8px;
}
.joined span {
  padding: 5px;
}
/* Messages*/
.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: -1;
}
.message:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.message:first-child {
  margin: 16px 0 8px;
}
.message.received {
  background: #dedede;
  border-radius: 0px 8px 8px 8px;
  float: left;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #dedede transparent transparent;
  top: 0;
  left: -10px;
}
.message.sent {
  background: #6e6e6e;
  border-radius: 8px 0px 8px 8px;
  float: right;
  color: white;
}
.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #6e6e6e;
  top: 0;
  right: -10px;
}
.scroll-content {
  padding: 0 !important;
}

ion-input {
  --padding-start: 10px;
}
