ion-content ion-toolbar {
  --background: translucent;
}

.header {
  background-color: var(--ion-color-primary);
  border-radius: 0px 0px 50px 50px;
  height: 50px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 30px;
  align-items: center;

  img {
    width: 100%;
    max-height: 50px;
  }
}

.flex {
  img {
    width: 50%;
    height: auto;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
