<div class="header">
  <ion-button
    fill="clear"
    size="small"
    color="light"
    onclick="window.open('https:\/\/www.facebook.com/LesFrigosSolidaires/', '_system', 'location=yes'); return false;"
  >
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button
    fill="clear"
    size="small"
    color="light"
    onclick="window.open('https:\/\/www.instagram.com/lesfrigossolidaires/?hl=fr', '_system', 'location=yes'); return false;"
  >
    <ion-icon name="logo-instagram"></ion-icon>
  </ion-button>
  <img
    src="assets/logo.svg"
    onclick="window.open('https:\/\/www.identites-mutuelle.com/lesfrigossolidaires', '_system', 'location=yes'); return false;"
  />
  <ion-button
    fill="clear"
    size="small"
    color="light"
    onclick="window.open('https:\/\/twitter.com/hashtag/lesfrigossolidaires', '_system', 'location=yes'); return false;"
  >
    <ion-icon name="logo-twitter"></ion-icon>
  </ion-button>
  <ion-button fill="clear" size="small" color="light">
    <ion-icon name="share-social-outline"></ion-icon>
  </ion-button>
</div>
<ion-content [fullscreen]="true">
  <ion-card
    onclick="window.open('https:\/\/www.helloasso.com/associations/les-frigos-solidaires?banner=True', '_system', 'location=yes');"
  >
    <div class="flex">
      <img src="assets/donate_2.jpg" />
      <div>
        <ion-card-header>
          <ion-card-subtitle>Faire un don</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Les Frigos Solidaires lancent leur campagne nationale et ouvrir encore
          plus de Frigos sur toute la France !
        </ion-card-content>
      </div>
    </div>
  </ion-card>
  <ion-card
    onclick="window.open('https:\/\/www.helloasso.com/associations/les-frigos-solidaires/annuaire', '_system', 'location=yes');"
  >
    <div class="flex">
      <img src="assets/donate_1.jpg" />
      <div>
        <ion-card-header>
          <ion-card-subtitle>Participer à une cagnotte</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Faites un don et contribuer ainsi à l’ouverture d’un nouveau Frigo !
        </ion-card-content>
      </div>
    </div>
  </ion-card>
  <ion-card
    onclick="window.open('https:\/\/www.identites-mutuelle.com/sites/default/themes/identite_v2/templates/landing/documents/Howto-commercants.pdf', '_system', 'location=yes');"
  >
    <div class="flex">
      <img src="assets/donate_3.jpg" />
      <div>
        <ion-card-header>
          <ion-card-subtitle>Installer un Frigo Solidaire</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Un frigo dans votre ville ? Particulier et professionnels peuvent se
          joindre à l’aventure !
        </ion-card-content>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <img src="assets/donate_4.png" />
  </ion-card>
</ion-content>
