<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <img src="../../assets/logo.svg" />
      <h2 class="muli" size="large">les frigos solidaires</h2>
      <p>
        L’idée c’est de se baser sur le modèle berlinois et de mettre un <b>frigo en libre-service</b> chez un commerçant mais en extérieur, à la <b>portée de tous</b> et où chacun peut déposer ou prendre de la nourriture <b>gratuitement</b> et quand il le souhaite.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/slide-1.png" />
      <h2 class="muli" size="large">j’apporte un produit</h2>
      <p>
        Chacun est <b>libre</b> de ramener ce qu’il veut <b>partager</b>. Attention d’avoir assuré une <b>conservation</b> des produits dans des
        conditions <b>correctes</b>.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/slide-2.png" />
      <h2 class="muli" size="large">je remplis le cahier</h2>
      <p>
        J’écris mon prénom et/ou nom, ainsi que la <b>date de dépot du produit</b>.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/slide-3.png" />
      <h2 class="muli" size="large">je depose le produit</h2>
      <p>
        Je positionne le produit afin qu’il <b>ne se renverse pas</b>, et je ne laisse pas la porte du frigo ouverte trop longtemps pour <b>conserver la fraîcheur.</b>

      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/slide-4.png" />
      <h2 class="muli" size="large">quand je consomme</h2>
      <p>
        <b>Chacun peut prendre</b> ce qui est à disposition, en prenant au passage la <b>responsabilité de la consommation du produit.</b>
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slides/slide-5.png" />
      <br />
      <br />
      <br />
      <br />
      <br />
      <ion-button class="button" fill="clear" (click)="goHome()" class="muli">
        on fonce
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
