ion-content ion-toolbar {
  --background: translucent;
}

ion-slides {
  height: 100%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-color-primary, #000000);
}

.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  min-width: 307px;
  height: 52px;
  font-family: OpenSans-Semibold, Arial, Sans-serif;
  font-size: 15px;
  line-height: 52px;
  color: var(--ion-color-primary);
  padding: 0 20px;
  background-image: url('../../assets/slides/button-hover.png');
  background-repeat: no-repeat;
  background-position: top left;
  transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
