<div class="header">
  <ion-button
    fill="clear"
    size="small"
    color="light"
    onclick="window.open('https:\/\/www.facebook.com/LesFrigosSolidaires/', '_system', 'location=yes'); return false;"
  >
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button
    fill="clear"
    size="small"
    color="light"
    onclick="window.open('https:\/\/www.instagram.com/lesfrigossolidaires/?hl=fr', '_system', 'location=yes'); return false;"
  >
    <ion-icon name="logo-instagram"></ion-icon>
  </ion-button>
  <img
    src="assets/logo.svg"
    onclick="window.open('https:\/\/www.identites-mutuelle.com/lesfrigossolidaires', '_system', 'location=yes'); return false;"
  />
  <ion-button
    fill="clear"
    size="small"
    color="light"
    onclick="window.open('https:\/\/twitter.com/hashtag/lesfrigossolidaires', '_system', 'location=yes'); return false;"
  >
    <ion-icon name="logo-twitter"></ion-icon>
  </ion-button>
  <ion-button fill="clear" size="small" color="light">
    <ion-icon name="share-social-outline"></ion-icon>
  </ion-button>
</div>
<ion-content [fullscreen]="true">
  <ion-card
    onclick="window.open('https:\/\/www.google.com/maps/dir/Place+de+la+Bourse,+75002+Paris/la+base+paris/@48.8699553,2.346735,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47e66e3c67352799:0x67e68fc6159d3324!2m2!1d2.3413443!2d48.8686639!1m5!1m1!1s0x47e66f5abe8ea25b:0xed35e42ec56106c8!2m2!1d2.3679823!2d48.8714949', '_system', 'location=yes');"
  >
    <div class="flex">
      <img src="assets/unnamed.jpg" />
      <div>
        <ion-card-header>
          <ion-card-subtitle>Le plus proche !</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          LA BASE
          <br />
          31 Rue Bichat, 75010 Paris
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <ion-card
    align="center"
    onclick="window.open('https:\/\/www.helloasso.com/utilisateurs/kodakexpress28-gmail-com/collectes/kodak-express-imad-image', '_system', 'location=yes');"
  >
    <img src="assets/thb_1.jpg" style="width: 344px; max-width: unset;" />
    <ion-card-header>
      <ion-card-subtitle>
        <div class="center">
          <ion-badge color="primary">
            <ion-icon name="people-outline"></ion-icon>
            18
          </ion-badge>
        </div>
        <div class="flex center">
          <ion-progress-bar color="primary" value="0.43"> </ion-progress-bar>
          <span class="pl-2">
            560€
          </span>
        </div>
        <br />
        Bientôt un Frigo Solidaire à Dreux !
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <div align="center">
    <ion-button
      shape="round"
      color="primary"
      onclick="window.open('https:\/\/www.helloasso.com/associations/les-frigos-solidaires/collectes/les-frigos-solidaires/creation-collecte', '_system', 'location=yes');"
    >
      J'installe mon frigo solidaire
      <ion-icon
        style="padding-left: 10px;"
        name="arrow-forward-outline"
      ></ion-icon>
    </ion-button>
  </div>
  <br />
  <br />
</ion-content>
