ion-content ion-toolbar {
  --background: translucent;
}

.header {
  background-color: var(--ion-color-primary);
  border-radius: 0px 0px 50px 50px;
  height: 50px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 30px;
  align-items: center;

  img {
    width: 100%;
    max-height: 50px;
  }
}

.flex {
  img {
    width: 50%;
    height: auto;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.center {
  align-items: center;
}

.pl-2 {
  padding-left: 10px;
}

.button-custom {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  min-width: 307px;
  height: 52px;
  font-family: OpenSans-Semibold, Arial, Sans-serif;
  font-size: 15px;
  line-height: 52px;
  color: var(--ion-color-primary);
  padding: 0 20px;
  background-image: url('../../assets/slides/button-hover.png');
  background-repeat: no-repeat;
  background-position: top left;
  transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
